<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <header class="mcad-frame">
    MCAD <svg class="logo" width="12px" height="12px" viewBox="0 0 230 230" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>MCAD X</title>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" fill="#000">
          <path d="M155.910363,135.2942 L230,209.383836 L209.7058,230 L135.616164,155.910363 L155.910363,135.2942 L155.910363,135.2942 Z M209.7058,8.52651283e-14 L230,20.2941999 L155.910363,94.3838364 L135.616164,74.0896365 L209.7058,8.52651283e-14 L209.7058,8.52651283e-14 Z M20.6161636,8.52651283e-14 L135.616164,115 L20.6161636,229.67827 L0.322196769,209.383836 L94.3838364,115 L0,20.2941999 L20.6161636,8.52651283e-14 L20.6161636,8.52651283e-14 Z"
            id="MCAD_X_Logo"></path>
        </g>
      </g>
    </svg> ONLINE LEARNING
  </header>

  <main>
    <h1>Welcome {{ firstName }}!</h1>

    <p>This semester, you are in a course participating in a <b>pilot of Canvas LMS</b>. You will be using Canvas
      instead of Blackboard for this course:</p>

    <div class="info-box course-info">
      <p>{{courseName}} ({{term}} {{year}})</p>
      <p>{{courseCode}} • {{credits}}</p>
      <p>{{startDate}} – {{endDate}}</p>
    </div>

    <table class="step-by-step">
      <tr>
        <td>
          <h2>Step 1</h2>
        </td>
        <td>

          <p>Before your first day of class <a href="https://canvas.mcad.edu/orientation">complete the Canvas
              Orientation</a></p>

          <p><a class="button" href="https://canvas.mcad.edu/orientation">Begin Canvas Orientation</a>
          </p>

          <p>
            This orientation includes information about the pilot, an overview of Canvas, tips for setting up your
            account,
            checking grades, and more.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Step 2</h2>
        </td>
        <td>
          <p>Make sure you can login to canvas at <a href="https://canvas.mcad.edu">canvas.mcad.edu</a></p>

          <p><a class="button" href="https://canvas.mcad.edu">Verify Canvas Login</a>
          </p>

          <p>
            Your MCAD login credentials, you can set (or reset) at
            <a href="https://password.mcad.edu/index.php?selfservice=forgotpw">https://password.mcad.edu/index.php?selfservice=forgotpw</a>,
            with the following info:
          </p>


          <div class="info-box">
            <dl class="key-value-list">
              <dt>Username</dt>
              <dd>{{username}}</dd>

              <dt>Student ID#</dt>
              <dd>{{id}}</dd>
            </dl>
          </div>

          <p>If you cannot login, please email <a href="mailto:online@mcad.edu">online@mcad.edu</a> for assistance.</p>

        </td>
      </tr>
    </table>
    <h2>
      Can't See Your Course? Don't Worry!
    </h2>
    <p>Your course will not be available until after your course open date:</p>

    <div class="info-box">
      <dl class="key-value-list">
        <dt>Course Opens</dt>
        <dd>{{ openDate }}</dd>
      </dl>
    </div>

    <p>This is to give your instructor a chance to
      update things for the semester.</p>
    <p>After your course opens, login to Canvas LMS at <a href="https://canvas.mcad.edu">canvas.mcad.edu</a>.</p>

    <h2>Questions? Need Help?</h2>
    <footer>
      <p>Contact MCAD Online Learning</p>
      <div class="contact-info">
        <p><a href="mailto:online@mcad.edu">online@mcad.edu</a></p>
        <p><a href="tel:6128743618">612-874-3618</a></p>
        <p><a href="tel:18008746233">1-800-874-MCAD (6233)</a> – press 4 for Online Learning</p>
      </div>
    </footer>
  </main>

</body>

</html>