<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <div class="container">
    <header class="mcad-frame">
      MCAD <svg class="logo" width="18px" height="18px" viewBox="0 0 230 230" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>MCAD X</title>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" fill="#000">
            <path d="M155.910363,135.2942 L230,209.383836 L209.7058,230 L135.616164,155.910363 L155.910363,135.2942 L155.910363,135.2942 Z M209.7058,8.52651283e-14 L230,20.2941999 L155.910363,94.3838364 L135.616164,74.0896365 L209.7058,8.52651283e-14 L209.7058,8.52651283e-14 Z M20.6161636,8.52651283e-14 L135.616164,115 L20.6161636,229.67827 L0.322196769,209.383836 L94.3838364,115 L0,20.2941999 L20.6161636,8.52651283e-14 L20.6161636,8.52651283e-14 Z"
              id="MCAD_X_Logo"></path>
          </g>
        </g>
      </svg> ONLINE LEARNING
    </header>

    <main>
      <h1>Using Canvas LMS This Semester</h1>

      <p>Hello {{ firstName }},</p>

      <p>This semester, you are in a course participating in a <b>pilot of Canvas LMS</b>:</p>

      <div class="info-box course-info">
        <p><b>{{courseName}}</b> ({{term}} {{year}})</p>
        <p>{{courseCode}} • {{credits}}</p>
        <p>{{startDate}} – {{endDate}}</p>
      </div>

      <p>You will be using Canvas for this course this semester, rather than Blackboard.</p>

      <p>To prepare, please complete the following before your first day of class.

        <h2>Step 1</h2>

        <p>Before your first day <a href="https://canvas.mcad.edu/orientation">complete the Canvas
            Orientation</a></p>

        <p><a class="button" href="https://canvas.mcad.edu/orientation">Begin Canvas Orientation</a>
        </p>

        <p>
          This orientation will take you about an hour. It includes information about the pilot, an overview of Canvas,
          tips for setting up your account, checking grades, and more.
        </p>

        <h2>Step 2</h2>
        <p>Make sure you can login to Canvas LMS at <a href="https://canvas.mcad.edu">canvas.mcad.edu</a>.</p>

        <p><a class="button" href="https://canvas.mcad.edu">Verify Canvas Login</a>
        </p>

        <p>
          Your MCAD login credentials, you can set (or reset) at
          <a href="https://password.mcad.edu/index.php?selfservice=forgotpw">https://password.mcad.edu/index.php?selfservice=forgotpw</a>,
          with the following info:
        </p>


        <div class="info-box">
          <p class="key-value">
            <b class="key">Username</b>
            <code class="value">{{username}}</code>
          </p>
          <p class="key-value">
            <b class="key">Student ID#</b>
            <code class="value">{{id}}</code>
          </p>
        </div>

        <p>If you cannot login, please email <a href="mailto:online@mcad.edu">online@mcad.edu</a> for assistance.</p>

        <h2>
          Can't See Your Course? Don't Worry!
        </h2>
        <p>Your course will not be available until after your course open date:</p>

        <div class="info-box">
          <p class="key-value">
            <b class="key">Course Opens</b>
            <code class="value">{{ openDate }}</code>
          </p>
        </div>

        <p>This is to give your instructor a chance to
          update things for the semester.</p>
        <p>After your course opens, login to Canvas LMS at <a href="https://canvas.mcad.edu">canvas.mcad.edu</a>.</p>

        <h2>Questions? Need Help?</h2>
        <p>Contact MCAD Online Learning</p>
        <div class="contact-info">
          <p><a href="mailto:online@mcad.edu">online@mcad.edu</a></p>
          <p><a href="tel:6128743618">612-874-3618</a></p>
          <p><a href="tel:18008746233">1-800-874-MCAD (6233)</a> – press 4 for Online Learning</p>
        </div>
        <p>Have a great semester!</p>
    </main>
  </div>
</body>

</html>