<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <p class="preheader">
    Please complete the following before your first day of class:
  </p>
  <div class="container">
    <header class="mcad-frame">
      MCAD <img class="logo" src="https://canvas.mcad.edu/img/MCAD_X_logo.png" alt="X" width="16" height="16" />
      ONLINE
      LEARNING
    </header>

    <main>
      <header class="email-header">
        <div class="header-image">🚀</div>
        <h1>{{courseName}} <strong>IS OPEN!</strong></h1>
      </header>

      <p>Hello {{ firstName }},</p>

      <p>
        Your online course is now OPEN:
      </p>

      <div class="info-box course-info">
        <p><b>{{courseName}} ({{term}} {{year}})</b></p>
        <p>{{courseCode}} • {{credits}}</p>
        <p>{{startDate}} – {{endDate}}</p>
      </div>

      <h2>TASK 1: LOGIN AND EXPLORE</h2>

      <p>
        We invite you to login and explore your online classroom before your official first day. It's a good time to
        read the announcements, review the syllabus, and check out what your
        teacher is planning for the first week of class.
      </p>

      <p><a class="button" href="https://learn.mcad.edu">Login to Blackboard</a>
      </p>

      <aside>
        <p><b>Having Trouble?</b> Earlier this week, we sent an email about <a
            href="http://learn.mcad.edu/files/orientation.html">how to login
            and get started</a>. Please review those materials, if you haven't already.
        </p>
      </aside>

      <h2>TASK 2: YOUR FIRST ASSIGNMENT (DUE DAY 1)</h2>

      <p>
        Every online course has a first assignment due by the end of Day 1. Through this assignment, you will
        meet your classmates and practice some important skills for working in an online classroom.
      </p>

      <p>You'll find instructions in the <em>Start Here!</em> section of your online classroom.</p>

      <div class="info-box">
        <p class="key-value">
          <b class="key">Due</b>
          <code class="value">{{ startDate }}, 11:59pm CT</code>
        </p>
      </div>

      <h2>Questions? Need Help?</h2>
      <p>Contact MCAD Online Learning</p>
      <div class="contact-info">
        <p><a href="mailto:online@mcad.edu">online@mcad.edu</a></p>
        <p><a href="tel:6128743618">612-874-3618</a></p>
        <p><a href="tel:18008746233">1-800-874-MCAD (6233)</a> – press 4 for Online Learning</p>
      </div>
      <p>Have a great semester!</p>
    </main>
  </div>
</body>

</html>
