<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <p class="preheader">
    {{courseName}} ({{term}} {{year}}) • {{startDate}} – {{endDate}}
  </p>
  <div class="container">
    <header class="mcad-frame">
      MCAD
      ONLINE
      LEARNING
    </header>

    <main>
      <header class="email-header">
        <div class="header-image">👍</div>
        <h1>You&rsquo;re Signed Up!</h1>
      </header>

      <p>Hello {{ firstName }},</p>

      <p>You&rsquo;re signed up for the following online workshop:</p>

      <div class="info-box course-info">
        <p><b>{{courseName}} ({{term}} {{year}})</b></p>
        <p>{{courseCode}} • {{credits}}</p>
        <p>{{startDate}} – {{endDate}}</p>
      </div>

      <p>We'll send another email when your workshop begins.</p>

      <h2>Questions? Need Help?</h2>

      <p>Contact Online Learning. We're happy to help!</p>

      <div class="contact-info">
        <p><a href="mailto:online@mcad.edu">online@mcad.edu</a></p>
        <p><a href="tel:6128743618">612-874-3618</a></p>
        <p><a href="tel:18008746233">1-800-874-MCAD (6233)</a> – press 4 for Online Learning</p>
      </div>
    </main>
  </div>
</body>

</html>
