<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <p class="preheader">

  </p>
  <div class="container">
    <header class="mcad-frame">
      MCAD
      TEACHING
      AND LEARNING
      EXCELLENCE
    </header>

    <main>
      <header class="email-header">
        <div class="header-image">🚀</div>
        {{#if hasMultipleCourses }}
        <h1>
          Your Classes<br>
          are OPEN!
        </h1>
        {{else}}
        <h1>
          Your Class<br>
          is OPEN!
        </h1> {{/if}}
      </header>

      <p>Hello {{ firstName }},</p>

      <p>
        The following courses are now open on Canvas:
      </p>

      {{#each courses }}
      <div class="info-box course-info">
        <p><b>{{courseName}} ({{term}} {{year}})</b></p>
        <p>{{courseCode}} • {{ facultyFirstName }} {{ facultyLastName }} • {{credits}}</p>
        <p>{{startDate}} – {{endDate}}</p>
      </div>
      {{/each}}

      <h2>Step 1</h2>

      <p><a class="button" href="https://canvas.mcad.edu">Login to Canvas</a>
      </p>

      <p>
        Make sure your MCAD Canvas account works by signing in to <a href="https://canvas.mcad.edu">canvas.mcad.edu</a>.
      </p>

      <h3>Trouble Logging In?</h3>

      <p>Try <a href="https://password.mcad.edu/index.php?selfservice=forgotpw&amp;claimedEmpType=Student">resetting your
          password</a> with this information:</p>
      <div class="info-box">
        <p class="key-value">
          <b class="key">Username</b>
          <code class="value">{{username}}</code>
        </p>
        <p class="key-value">
          <b class="key">Student ID#</b>
          <code class="value">{{id}}</code>
        </p>
      </div>

      <h2>Step 2</h2>

      <p><a class="button" href="https://canvas.mcad.edu/orientation">Begin Canvas Orientation</a>
      </p>

      <p>
        If you're new to Canvas <a href="https://canvas.mcad.edu/orientation">watch the Canvas
          Orientation</a>.</p>

      <p>
        This orientation includes an overview of Canvas,
        tips for setting up notifications, checking grades, getting the app, and more.
      </p>

      <h3>Will all of my classes be using Canvas this semester?</h3>

      <p>
        <em>Most classes will be using Canvas LMS,</em> but some faculty have opted to continue using the legacy
        Blackboard system at <a href="https://learn.mcad.edu">https://learn.mcad.edu</a>. Faculty will let you know
        about their plans. You will also see a message in your Canvas class redirecting you to Blackboard if this is the
        case.
      </p>


      <h2>Step 3</h2>

      <p><a class="button" href="https://canvas.mcad.edu">Explore Your Canvas Classroom</a>
      </p>

      <p>Some things to do:</p>

      <ul>
        <li>Review the syllabus</li>
        <li>Find your remote class meeting link (it's probably with the syllabus)</li>
        <li>Check out what's planned for the first week of class</li>
      </ul>

      <section class="questions-section">
        <h2>Questions? Need Help?</h2>
        <h4>Trouble logging in?</h4>

        <p><a href="mailto:helpdesk@mcad.edu">helpdesk@mcad.edu</a></p>

        <h4>Questions about Canvas?</h4>

        <p><a href="mailto:online@mcad.edu">online@mcad.edu</a></p>

        <h4>Something else?</h4>
        <p>Try the <a href="https://intranet.mcad.edu/directory">MCAD Intranet Directory</a>.</p>
      </section>
      <p>Have a great semester!</p>
    </main>
  </div>
</body>

</html>
