<html>

<head>
  <link rel="stylesheet" href="style.css" data-inline="data-inline">
</head>

<body>
  <p class="preheader">
    This class requires you to setup an MCAD account. Please complete the following
    steps before your first day of class.
  </p>
  <div class="container">
    <header class="mcad-frame">
      MCAD
      CONTINUING EDUCATION
    </header>

    <main>
      <header class="email-header">
        <div class="header-image">✏️</div>
        <h1><strong>Get Ready!</strong> Your CE Course Starts Soon</h1>
      </header>

      <p>Hello {{ firstName }},</p>

      <p>Your MCAD Continuing Education class begins soon:</p>

      <div class="info-box course-info">
        <p><b>{{courseName}} ({{term}} {{year}})</b></p>
        <p>{{courseCode}} • {{credits}}</p>
        <p>{{startDate}} – {{endDate}}</p>
      </div>

      <p>
        This class requires you to setup an MCAD account to access MCAD services. Please setup your account before your
        first day of class.
      </p>

      <h2>SETUP YOUR MCAD ACCOUNT</h2>

      <p>
        Please setup your MCAD account. You will need your username and student id number below. If you already have an
        MCAD account and know your password, you can skip this step.
      </p>

      <div class="info-box">
        <p class="key-value">
        <p class="key-value">
          <b class="key">Username</b>
          <code class="value">{{username}}</code>
        </p>
        <p class="key-value">
          <b class="key">Student ID#</b>
          <code class="value">{{id}}</code>
        </p>
      </div>

      <p><a class="button" href="https://password.mcad.edu/index.php?selfservice=forgotpw">Setup MCAD Account</a>
      </p>

      <p>Once you've filled out the form, you will receive a message at your personal email with a link to set (or
        reset) your password. Please save your new login information for future use during the semester.</p>

      <p><b>Having trouble?</b> Email <a href="mailto:help_desk@mcad.edu">help_desk@mcad.edu</a> if you are having
        difficulties setting up your MCAD account.</p>

      <h2>Questions? Need Help?</h2>
      <p>Contact MCAD Continuing Education</p>
      <div class="contact-info">
        <p><a href="mailto:continuing_education@mcad.edu">continuing_education@mcad.edu</a></p>
        <p><a href="tel:6128743765">612-874-3765</a></p>
      </div>
      <p>We hope you enjoy your semester with us. Thank you for joining this community.</p>
    </main>
  </div>
</body>

</html>
